.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  margin: 145px auto;
  margin-top: 100px;
  width: 77%;
  max-width: 1300px;
  padding: '60px 50px'; 
}

/* Demos styles */

.Demos-container {
  overflow: 'auto';
}

.Demos-description {
  width: '77%';
  float: 'left';
  padding: '20px 30px';
}

.Demos-links {
  float: 'right';
  border: '1px';
  border-color: '#DCDCDC';
  border-radius: '20px';
  border-style: 'solid';
  width: '22%';
  height: '100%';
  padding: '28px';
}

.Demo-demonstration {
  border: '1px';
  border-color: '#DCDCDC';
  border-radius: '20px';
  border-style: 'solid';
  background: 'repeating-linear-gradient(45deg, #F3F3F3, #F3F3F3 3px, #CDCDCD 3px, #CDCDCD 4px)';
                        
}

.image-layout {
  text-align: center;
}

.contact-card {
  overflow: hidden;
  margin-bottom: 20px;
}

.contact-card-info {
  float: left;
  margin-left: 37px;
}

.contact-card h4 {
  margin-top: 15px !important;
}

.contact-card img {
  margin: 0;
  width: 105px;
  height: 105px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;

  float: left;
}

.contact-card a {
  text-decoration: none;
}

pre {
  overflow: auto;
}

.demo-list {
  max-width: 625px;
  margin: auto;
}



  
/* MOBILE */
@media only screen and (max-width: 481px) {

  .container {
    margin-top: 50px;
  }

  .css-429xfk {
    overflow: hidden;
    width: 40px !important;
  }

  p {
    font-size: 15px !important;
  }

  h1 {
    font-size: 45px !important;
  }

  h2 {
    font-size: 39px !important;
  }

  h3 {
    font-size: 32px !important;
  }

  h4 {
    font-size: 17px !important;
  }

  .css-cskq03-MuiTypography-root {
    height: 50px !important;
  }

  .contact-card img {
    width: 85px !important;
    height: 85px;
  }

  .contact-card-info {
    float: left;
    margin-left: 15px;
    width: 180px;
  }

  .about-cont {
    width: 85%;
  }
  
  .markdown-style img {
    width: 95%;
  }
}