.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  margin: 145px auto;
  margin-top: 100px;
  width: 77%;
  max-width: 1300px;
  padding: '60px 50px'; 
}

/* Demos styles */

.Demos-container {
  overflow: 'auto';
}

.Demos-description {
  width: '77%';
  float: 'left';
  padding: '20px 30px';
}

.Demos-links {
  float: 'right';
  border: '1px';
  border-color: '#DCDCDC';
  border-radius: '20px';
  border-style: 'solid';
  width: '22%';
  height: '100%';
  padding: '28px';
}

.Demo-demonstration {
  border: '1px';
  border-color: '#DCDCDC';
  border-radius: '20px';
  border-style: 'solid';
  background: 'repeating-linear-gradient(45deg, #F3F3F3, #F3F3F3 3px, #CDCDCD 3px, #CDCDCD 4px)';
                        
}
